<div class="container-fluid user-profile">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Username: {{userId.username}}</h2>
            <hr>
            <p>Email: {{userId.email}}</p>
            <hr>
            <p>Description: {{userId.description}}</p>
            <hr>
            <div class="btn-group mt-2">
                <button type="button" class="btn btn-dark">Settings</button>
                <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/edit-profile">Edit profile</a>
                    <a class="dropdown-item" href="/">Delete profile</a>
                </div>
                <div class="btn-group mt-4">
                    <button type="button" class="btn btn-dark">Collections</button>
                    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/collection">Users Collections</a>
                        <a class="dropdown-item" href="/collection/create-collection">Create Collection</a>
                        <a class="dropdown-item" href="/collection/edit-collection">Edit Collection</a>
                        <a class="dropdown-item" href="/user/user-profile">Delete Collection</a>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row">
                    <h2>My Photos</h2>
                    {{#each collections}}
                    {{userId}}
                    {{#each images}}
                    <div class="col-md-4">
                        <article class="photo mb-5">
                            <div class="card" style="width: 18rem;">
                                <div class="col-md-4">
                                    <article class="photo mb-5">
                                        <div class="card" style="width: 18rem;">
                                            <img src="{{url}}" alt="">
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </article>
                    </div>
                    {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>